<?xml version='1.0' encoding='utf-8'?>
<widget id="com.likelo.main" version="1.3.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>LIKELO</name>
    <description>
        LIKELO Help you with facebook post likes.
    </description>
    <author email="help@likelo.com" href="https://likelo.com">
        LIKELO Team
    </author>
    <platform name="ios" />
    <platform name="android" />
    <content src="index.html" />
</widget>
